POSTGRES_VERSION=17

POSTGRES_DB=digital-document-delivery-system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DB_R2DBC_URL=r2dbc:postgresql://127.0.0.1:5432/digital-document-delivery-system
DB_USERNAME=
DB_PASSWORD=

KAFKA_VERSION=4.3.1

LOCALSTACK_VERSION=latest
LOCALSTACK_DEBUG=0
LOCALSTACK_AUTH_TOKEN=

MAILGUN_API_KEY=
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_DOMAIN=
MAILGUN_FROM=

S3_ENDPOINT=http://localhost:4566
S3_REGION=
S3_ACCESS_KEY=test
S3_SECRET_KEY=test
S3_BUCKET=