POSTGRES_VERSION=17

POSTGRES_DB=digital_document_delivery_system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

KAFKA_VERSION=4.3.1

LOCALSTACK_VERSION=latest
LOCALSTACK_DEBUG=0
LOCALSTACK_AUTH_TOKEN=

MAILGUN_API_KEY=
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_DOMAIN=
MAILGUN_FROM=